<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,follow" />
    <meta name="author" content="Sakshi Jaiswal" />
    <meta
      name="description"
      content="MediGoneWild is a responsive hospital service website built with HTML, CSS, and JavaScript, offering a seamless user experience across all devices."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://medigo-by-me.vercel.app/assets/mediGo.png"
    />
    <title>MediGoneWild</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/assets/mediGo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="/functionalities/function.js" defer></script>
  </head>
  <body>
    <header id="home">
      <%- include('partials/header') %>

      <div class="section-container header-container">
        <div
          class="head-content"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <h1>Delivering an Outstanding Care Journey for Patients</h1>
          <p style="font-size: 18px; color: whitesmoke">
            <b>
              Welcome to MediGoneWild, where compassionate care meets advanced
              medical expertise. Our hospital is dedicated to providing
              high-quality healthcare services...
            </b>
          </p>
          <button class="btn">
            Get Services <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="header-form" data-aos="fade-left" data-aos-duration="1000">
          <form action="#" id="form">
            <h4>Book Appointment</h4>
            <input type="text" placeholder="First Name" id="firstName" />
            <input type="text" placeholder="Last Name" id="lastName" />
            <input type="text" placeholder="Phone No." id="phoneNo" />
            <input type="text" placeholder="Your Address" id="address" />
            <button class="btn form-btn">Book Now</button>
          </form>
        </div>
      </div>
    </header>

    <main>
      <section class="section-container service-container" id="service">
        <div class="service-head" data-aos="fade-up">
          <div class="service-head-content">
            <h2 class="section-header">Our Sevices</h2>
            <p>
              we offer comprehensive healthcare services with advanced
              facilities and expert doctors...
            </p>
          </div>
          <button class="service-btn">Ask a Service</button>
        </div>
        <div class="service-grid">
          <div class="service-card" data-aos="fade-up" data-aos-delay="200">
            <span><i class="fa-solid fa-vial-virus"></i></span>
            <h4>Laboratory Test</h4>
            <p>
              Accurate Diagnostics, Swift Results: Experience top-notch
              Laboratory Testing at our facility.
            </p>
            <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="service-card" data-aos="fade-up" data-aos-delay="300">
            <span><i class="fa-solid fa-user-nurse"></i></span>
            <h4>Health Checkups</h4>
            <p>
              Regular Health Checkups and Guidance from our Specialized Team of
              Doctors
            </p>
            <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="service-card" data-aos="fade-up" data-aos-delay="400">
            <span><i class="fa-solid fa-truck-medical"></i></span>
            <h4>Ambulatory care</h4>
            <p>
              We provide medical services performed on an outpatient basis,
              without admission to a hospital.
            </p>
            <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </section>

      <section class="section-container about-container" id="about">
        <div class="about-content" data-aos="fade-right">
          <h2 class="section-header">About Us</h2>
          <p>
            MediGoneWild is a leading healthcare center committed to providing
            high-quality medical care with compassion and excellence...
          </p>
        </div>
        <div class="about-img" data-aos="fade-left">
          <img src="./assets/about.jpg" alt="About us" />
        </div>
      </section>

      <section class="section-container whyUs-container">
        <div class="whyUs-img" data-aos="fade-right">
          <img src="./assets/whyUs.jpg" alt="Why Choose Us" />
        </div>
        <div class="whyUs-content" data-aos="fade-left">
          <h2 class="section-header">Why Choose Us?</h2>
          <p>
            At MediGoneWild, we combine advanced medical technology with
            compassionate care...
          </p>
          <div class="features">
            <span><i class="fa-solid fa-user-doctor"></i></span>
            <div>
              <h4>Inpatient care</h4>
              <p>
                We provide Inpatient care to the patients whose condition
                requires admission to a hospital
              </p>
            </div>
            <span><i class="fa-solid fa-hospital"></i></span>
            <div>
              <h4>Clinics and medical offices</h4>
              <p>
                We offer Clinics and medical offices who gives 24/7 medical
                support.
              </p>
            </div>
            <span><i class="fa-solid fa-suitcase-medical"></i></span>
            <div>
              <h4>Medical and Surgical</h4>
              <p>
                Our Medical and Surgical services offer advanced healthcare
                solutions to address medical needs.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-container doctors-container">
        <h2
          class="section-header"
          style="text-align: center"
          data-aos="fade-up"
        >
          Meet Our Experts
        </h2>
        <div class="doctor-grid">
          <div class="doctor-card" data-aos="fade-right" data-aos-delay="200">
            <img
              src="/assets/doc-img1.jpg"
              alt="Dr. Jason Lee"
              class="doctor-card-img"
            />
            <div class="doctor-card-content">
              <h3>Dr. Jason Lee</h3>
              <p class="specialty">Cardiologist</p>
            </div>
          </div>
          <div class="doctor-card" data-aos="fade-right" data-aos-delay="300">
            <img
              src="/assets/doc-img2.jpg"
              alt="Dr. James Wood"
              class="doctor-card-img"
            />
            <div class="doctor-card-content">
              <h3>Dr. James Wood</h3>
              <p class="specialty">Orthopedic Surgeon</p>
            </div>
          </div>
          <div class="doctor-card" data-aos="fade-right" data-aos-delay="400">
            <img
              src="/assets/doc-img3.jpg"
              alt="Dr. Sarah Nandi"
              class="doctor-card-img"
            />
            <div class="doctor-card-content">
              <h3>Dr. Sarah Nandi</h3>
              <p class="specialty">Pediatrician</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: false, // Whether animation should happen only once
        duration: 800, // Animation duration in ms
        anchorPlacement: "center-bottom",
        easing: "ease-in-out", // Default easing
      });
    </script>
  </body>
</html>
