<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - MediGoneWild</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="auth-container">
        <form action="/login" method="POST" class="auth-form">
          <h2>Login</h2>
          <input
            type="email"
            name="email"
            placeholder="Email Address"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <button type="submit" class="btn">Login</button>

          <div class="auth-switch">
            <p>Don't have an account? <a href="/signup">Sign Up Now</a></p>
          </div>

          <div class="auth-divider">OR</div>
          <a href="/auth/google" class="btn-oauth">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
              alt="Google logo"
            />
            Sign in with Google
          </a>
        </form>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
